*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    background: linear-gradient(rgb(255, 208, 146), rgb(255, 174, 67));
    background-position: fixed;
}

.value-display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: white;
    font-size: 2rem;
    width: 15vw;
    text-align: center;
    border: 2px solid rgb(105, 105, 105);
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background:rgb(105, 105, 105);
    border-radius: 5%;
    padding: .5rem;
}

.button{
    color: black;
    background: rgb(211, 211, 211);
    text-align: center;
    font-size: 3rem;

    padding: .5rem 1rem;
    margin: .4rem;
    border-radius: 10%;
    user-select: none;
}

.button:hover{
    cursor: pointer;
    background:rgb(224, 224, 224);
}