*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
    background: rgb(216, 216, 216);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.wrapper{
    display: flex;
    gap: 1rem;
}

.button{
    padding: .5rem;
    background:rgb(155, 155, 155);

    max-width: 1rem;
    min-width: 1rem;
    text-align: center;
}

.button:hover{
    cursor: pointer;
    background:rgb(192, 192, 192);
}